.container {
    background-color: var(--color-athens-gray);
    min-height: 100vh;
    padding-bottom: 8vw;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    position: relative;
    margin-bottom: calc(8vw + 75px);
    z-index: 1;
  
    h1 {
      font-size: 14vw;
      font-family: var(--font-robert-sans);
      margin-bottom: 0;
      color: #000;
      text-transform: uppercase;
      z-index: 2;
  
      &.lightTitle {
        color: #fff;
      }
  
      &:nth-child(2) {
        margin-left: auto;
      }
  
      &:nth-child(3) {
        margin-left: auto;
        padding-right: 25vw;
      }
    }
  
    .profileDark,
    .profileLight {
      position: absolute;
      bottom: -95px;
      right: 15vw;
      width: 250px;
      height: 350px;
      z-index: 1;
  
      img {
        opacity: 0.8;
      }
    }
  
    .profileDark {
      background-color: #000;
    }
  
    .profileLight {
      background-color: #fff;
    }
  
    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: #000;
  
      img {
        opacity: 0.6;
      }
    }
  }
  